In [ ]:
getName = str(input("What's your name? : ")).split(" ")
name = getName[0].capitalize()
surname = getName[1].capitalize()
print(f"Nice to meet you {name} {surname}")

print("Nice to meet you {} {}".format(name, surname))

In [13]:
number = int(input("Enter your number :"))

result = number - 2

print(result)

3

In [34]:
students = ['เจษฎา', 'ชนะไชย์', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'สายฟ้า', 'อนุชา', 'อภิสิทธิ์', 'NaN', 'NaN', 'พิยดา', 'NaN', 'NaN', 'รัชชานนท์']
for i in range(17):
    print("stu6512732{}@sskru.ac.th - {}".format((101+i), students[i]))

stu6512732101@sskru.ac.th - เจษฎา
stu6512732102@sskru.ac.th - ชนะไชย์
stu6512732103@sskru.ac.th - NaN
stu6512732104@sskru.ac.th - NaN
stu6512732105@sskru.ac.th - NaN
stu6512732106@sskru.ac.th - NaN
stu6512732107@sskru.ac.th - NaN
stu6512732108@sskru.ac.th - NaN
stu6512732109@sskru.ac.th - สายฟ้า
stu6512732110@sskru.ac.th - อนุชา
stu6512732111@sskru.ac.th - อภิสิทธิ์
stu6512732112@sskru.ac.th - NaN
stu6512732113@sskru.ac.th - NaN
stu6512732114@sskru.ac.th - พิยดา
stu6512732115@sskru.ac.th - NaN
stu6512732116@sskru.ac.th - NaN
stu6512732117@sskru.ac.th - รัชชานนท์

In [ ]:
__PI = 3.14545667893837

print(f"PI = {__PI:.2f}")
print(f"PI = {__PI:.3f}")

In [7]:
print("{0} --- price {1:4} bath\n{2} --- price {3:4.2f} bath".format('Apple', 5, 'Mango', 4.5))

Apple --- price    5 bath
Mango --- price 4.50 bath

List

In [5]:
import numpy as np
p = 0
for i in range(100, 1001):
    if str(i) == str(i)[::-1]:
        p += 1
    
p

90

In [17]:
cot = 0
fi = '8'
for i in range(1000):
    for o in str(i):
        if o == fi:
            cot += 1
       
cot

300

Tuple

In [ ]:
tple = tuple(range(100))
for i in tple:
    print(i)

In [20]:
myname = "Apisit"
tp = tuple(myname)
type(tp)

tuple

Dictionary

In [60]:
my_students = {
    "6512732101":{
        "fname":"Jetsada",
        "lname":"tonsri"
    },
    "6512732111":{
        "fname":"Apisit",
        "lname":"Saithong"
        
    },
    "6512732102":{
        "fname":"Chanachai",
        "lname":"ruedsongkram"
    }
    
}

my_students.get("6512732111")

{'fname': 'Apisit', 'lname': 'Saithong'}

Expression

- ทางการดำเนินการ
- การกำหนดค่า
- การเปรียบเทียบ
- ทางตรรกะ


// การดำเนินการ + - * / %

logic AND จะให้ผลลัพเป็น จริง เมื่อ ตัวดำเนินการเป็น จริง 100%

logic OR จะให้ผลลัพเป็น เท็จ เมื่อ ตัวดำเนินการเป็น เท็จ 100%

In [61]:
60-6*5+(8+(10/4%2))*3

55.5

In [ ]:
for i in range(1010):
    if i % 100 ==0:
        print(i)

In [ ]:
from math import *

บทที่ 7 : Control Structure

if ... else in python ?

flow control and control structure


โครงสร้างควบคุม แบบ เงื่อนไข if ... else
    if test_expression:
        statement(s)
    else :
        statement

In [10]:
num = 0
if num >= 0:
    if num ==0:
        print("is Zero")
    else :
        print(num, "is positive number")
else :
    print(num, "is negative number")

is Zero

In [8]:
score = float(input("Score : "))

'''
A : 100 - 80
B : 79 - 70
C : 69 - 60
D : 59 - 50
E : 49 - 0
'''

if score >= 80:
    print("A")
elif score >= 70:
    print("B")
elif score > 60:
    print("C")
elif score >= 50:
    print("D")
else :
    print("E")

B

โครงสร้างควบคุม แบบ ทำซ้ำ  for, while

for : รู้ช่วงการวน
while : เงื่อนไข

for var in sequence:
    statement

In [17]:
count = 0
for i in  range(0, 10):
    for o in range(0, 10):   
        for p in range(5):
            count += 1

count

500

In [19]:
n = 3
for i in range(1, 13):
    print(f"{n} x {i:>2} = {n*i:>2}")

3 x  1 =  3
3 x  2 =  6
3 x  3 =  9
3 x  4 = 12
3 x  5 = 15
3 x  6 = 18
3 x  7 = 21
3 x  8 = 24
3 x  9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

In [24]:
numberA = [1, 5, 8, 7, 9, 6, 4, 7]
max_var = min_var = numberA[0]
sum_var = 0
for i in numberA:
    if max_var < i:
        max_var = i
    elif min_var > i:
        min_var = i
    
    sum_var += i
    
print(f"Max : {max_var} min : {min_var} average : {(sum_var / len(numberA)):.2f}")

Max : 9 min : 1 average : 5.88

In [34]:
"""
while test_expression:
    statement

"""
re = 0
counter = 0
while counter < 10:
    
    print(counter)
    re += 3
    counter += 2
    
    
   

counter 
re

0
2
4
6
8

15

In [37]:
for i in range(5):
    while True:
        var = input(">>> ")
        if var == 'q':
            break