In [ ]:
getName = str(input("What's your name? : ")).split(" ")
name = getName[0].capitalize()
surname = getName[1].capitalize()
print(f"Nice to meet you {name} {surname}")

print("Nice to meet you {} {}".format(name, surname))

In [13]:
number = int(input("Enter your number :"))

result = number - 2

print(result)

3

In [34]:
students = ['เจษฎา', 'ชนะไชย์', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'สายฟ้า', 'อนุชา', 'อภิสิทธิ์', 'NaN', 'NaN', 'พิยดา', 'NaN', 'NaN', 'รัชชานนท์']
for i in range(17):
    print("stu6512732{}@sskru.ac.th - {}".format((101+i), students[i]))

stu6512732101@sskru.ac.th - เจษฎา
stu6512732102@sskru.ac.th - ชนะไชย์
stu6512732103@sskru.ac.th - NaN
stu6512732104@sskru.ac.th - NaN
stu6512732105@sskru.ac.th - NaN
stu6512732106@sskru.ac.th - NaN
stu6512732107@sskru.ac.th - NaN
stu6512732108@sskru.ac.th - NaN
stu6512732109@sskru.ac.th - สายฟ้า
stu6512732110@sskru.ac.th - อนุชา
stu6512732111@sskru.ac.th - อภิสิทธิ์
stu6512732112@sskru.ac.th - NaN
stu6512732113@sskru.ac.th - NaN
stu6512732114@sskru.ac.th - พิยดา
stu6512732115@sskru.ac.th - NaN
stu6512732116@sskru.ac.th - NaN
stu6512732117@sskru.ac.th - รัชชานนท์

In [ ]:
__PI = 3.14545667893837

print(f"PI = {__PI:.2f}")
print(f"PI = {__PI:.3f}")

In [7]:
print("{0} --- price {1:4} bath\n{2} --- price {3:4.2f} bath".format('Apple', 5, 'Mango', 4.5))

Apple --- price    5 bath
Mango --- price 4.50 bath

List

In [5]:
import numpy as np
p = 0
for i in range(100, 1001):
    if str(i) == str(i)[::-1]:
        p += 1
    
p

90

In [17]:
cot = 0
fi = '8'
for i in range(1000):
    for o in str(i):
        if o == fi:
            cot += 1
       
cot

300

Tuple

In [ ]:
tple = tuple(range(100))
for i in tple:
    print(i)

In [20]:
myname = "Apisit"
tp = tuple(myname)
type(tp)

tuple

Dictionary

In [60]:
my_students = {
    "6512732101":{
        "fname":"Jetsada",
        "lname":"tonsri"
    },
    "6512732111":{
        "fname":"Apisit",
        "lname":"Saithong"
        
    },
    "6512732102":{
        "fname":"Chanachai",
        "lname":"ruedsongkram"
    }
    
}

my_students.get("6512732111")

{'fname': 'Apisit', 'lname': 'Saithong'}

Expression

- ทางการดำเนินการ
- การกำหนดค่า
- การเปรียบเทียบ
- ทางตรรกะ


// การดำเนินการ + - * / %

logic AND จะให้ผลลัพเป็น จริง เมื่อ ตัวดำเนินการเป็น จริง 100%

logic OR จะให้ผลลัพเป็น เท็จ เมื่อ ตัวดำเนินการเป็น เท็จ 100%

In [61]:
60-6*5+(8+(10/4%2))*3

55.5

In [67]:
for i in range(1010):
    if i % 100 ==0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000

In [ ]:
from math import *