# ข้อสอบปลายภาค

### รายวิชา การเขียนโปรแกรมเชิงวัตถุ ปีการ 2/2565

ชื่อ อภิสิทธิ์ นามสกุล สายทอง รหัสนักศึกษา 6512732111

**ข้อสอบข้อที่ 1** : จงเขียนโปรแกรม เพื่อคํานวณ หาภาษีมูลค่าเพิ่มของบริการ โดยให้มีการทำงานดังนี้ คือ รับราคาบริการ จากนั้นคำนวณหาค่าบริการที่รวมภาษีมูลค่าเพิ่มแล้ว และทำการแสดงผลดังตัวอย่าง

# ตัวอย่างการทำงาน 1

Enter Service Price : 1000

Service Price
Price : 1000
Vat : 70
Total Price : 1070
 
Thank you.

# ตัวอย่างการทำงาน 2

Enter Service Price : 500

Service Price
Price : 500
Vat : 35
Total Price : 535
 

Thank you.

ข้อมูลเพิ่มเติม

1) สามารถหาภาษีมูลค่าเพิ่ม (Vat) ได้จากสูตร ราคาสินค้า * ( 7  / 100 )
2) ราคารวมภาษีมูลค่าเพิ่ม หาได้จากสูตร ราคาสินค้า + Vat ที่หาได้

In [64]:
price = float(input("Enter Service Price : "))
print(f'Service Price\n{"Price":<15} : {price:>10}฿\n{"Vat":<15} : {(price/100)*7:>10}฿\n{"Total Price":<15} : {price+(price/100*7):>10}฿\n{"thank you":_^30}')

Service Price
Price           :     1000.0฿
Vat             :       70.0฿
Total Price     :     1070.0฿
__________thank you___________

<hr>

**ข้อสอบข้อที่ 2** โปรแกรมตัดเกรด

จงออกแบบโปรแกรมด้วยภาษา C++ โดยให้มีการทำงานดังต่อไปนี้
1) โปรแกรมสามารถ รับข้อมูลคะแนนของนักเรียนที่มีค่าระหว่าง 0 - 100 จำนวน 5 คน
2) ทำการ หาเกรด จากเกณฑ์คะแนนต่อไปนี้ <br>
    90 - 100 ได้เกรด A <br>
    80 - 89 ได้เกรด B <br>
    70 - 79 ได้เกรด C <br>
    50 - 69 ได้เกรด D<br>
    0 - 49 ได้เกรด E<br>
3) แสดงผลข้อมูลตามรูปแบบตัวอย่าง

ตัวอย่างหน้าการแสดงผลของโปรแกรม

Calculate Grade Program
Enter Score Student 1 : 91
Enter Score Student 2 : 81
Enter Score Student 3 : 71
Enter Score Student 4 : 61
Enter Score Student 5 : 41

Show Student Grade
Student 1 
     Score 91 Grade A
Student 2 
     Score 81 Grade B
Student 3 
     Score 71 Grade C
Student 4 
     Score 61 Grade D
Student 5 
     Score 41 Grade F

Thank You...

หมายเหตุ : ตัวหนังสือ สีเขียว คือ Input ตัวหนังสือ สีน้ำตาล คือ คำค่าในตัวแปร Output มาแสดง

In [61]:
# คำตอบ

import pandas as pd
import numpy as np
import random as rd

std = {
    "Student 1": rd.randint(45, 100),
    "Student 2": rd.randint(45, 100),
    "Student 3": rd.randint(45, 100),
    "Student 4": rd.randint(45, 100),
    "Student 5": rd.randint(45, 100)
}

def Grade(data:dict):
    value = {
        "Name":[],
        "Score":[],
        "Grade":[]
    }
    
    for std, sc in data.items():
        if sc >= 90 :
            value["Name"].append(std)
            value["Score"].append(sc)
            value['Grade'].append('A')
        elif sc >= 80 :
            value["Name"].append(std)
            value["Score"].append(sc)
            value['Grade'].append('B')
        elif sc >= 70 :
            value["Name"].append(std)
            value["Score"].append(sc)
            value['Grade'].append('C')
        elif sc >= 50 :
            value["Name"].append(std)
            value["Score"].append(sc)
            value['Grade'].append('D')
        else :
            value["Name"].append(std)
            value["Score"].append(sc)
            value['Grade'].append('E')
        
    return value
        
    
pd.DataFrame(Grade(std))

        Name  Score Grade
0  Student 1     78     C
1  Student 2     93     A
2  Student 3    100     A
3  Student 4     70     C
4  Student 5     84     B

<hr>

**ข้อสอบข้อที่ 3** โปรแกรมคำนวนค่าเรียนพิเศษ

จงเขียนโปรแกรมคำนวณค่าเรียนพิเศษของ ติวเตอร์คณิตศาสตร์ แห่งหนึ่ง โดย ติวเตอร์แห่งนี้ คิดค่าเรียนเป็นรายชั่วโมง 

ชั่วโมงละ 450 บาท และจ่ายเป็นแบบครั้งต่อครั้ง 

โดยให้โปรแกรมมีการรับค่าจำนวนช่วงโมงที่สอน และมีรูปแบบการทำงานและแสดงผลตามตัวอย่างต่อไปนี้

ตัวอย่างการทำงาน ครั้งที่ 1

RUN : ทดสอบด้วยการป้อนจำนวนชั่วโมงที่เรียนเป็น 5 ชั่วโมง

Enter Hour : 5
Total : 2250

ตัวอย่างการทำงาน ครั้งที่ 2

RUN : ทดสอบด้วยการป้อนจำนวนชั่วโมงที่เรียนเป็น 1 ชั่วโมง

Enter Hour : 1
Total : 450

In [71]:
# คำตอบ
from math import *

Hour = float(input("Enter Hour :"))

print(f"Hour : {Hour}\nTotal : {ceil((Hour))*450}฿")

Hour : 5.5
Total : 2700฿

<hr>

**ข้อให้ทุกคนโชคดีในการสอบ**<br>
ผู้ช่วยศาสตราจารย์พิศาล สุขขี<br>
สาขาวิทยาการคอมพิวเตอร์<br>
มหาวิทยาลัยราชภัฏศรีสะเกษ