# แบบฝึกหัดที่ 2 ก่อนสอบปลายภาค

### เรื่อง ทบทวนเนื้อหาการเขียนโปรแกรมด้วยภาษาไพทอนเบื้องต้น

นายอภิสิทธิ์ สายทอง 6512732111

### Functions

**แบบฝึกหัดที่ 1** : สร้างฟังก์ชันที่ทำหน้ารับชุดข้องข้อความเข้ามาพร้อมทั้ง ทั้งแสดงข้อความนั้น และบอกจำนวนอักขระที่อยู่ใข้อความนั้นออกมาทางหน้าจอ

# ข้อความ 
f = 'The Shawshank Redemption'
g = 'The Godfather'
h = 'The Godfather: Part II'
i = 'The Dark Knight'
j = "Schindler's List"

In [21]:
# คำตอบ

def textInfo(text):
    return f'{text} | length {len(text)}'


f = 'The Shawshank Redemption'
g = 'The Godfather'
h = 'The Godfather: Part II'
i = 'The Dark Knight'
j = "Schindler's List"

dictText = {
    'text1':f,
    'text2':g,
    'text3':h,
    'text4':i,
    'text5':j
}

for i in dictText.values():
    print(textInfo(i))

The Shawshank Redemption | length 24
The Godfather | length 13
The Godfather: Part II | length 22
The Dark Knight | length 15
Schindler's List | length 16

<hr>

**ข้อที่ 2** สร้างฟังก์ชันเพื่อนับจำนวนตัวลีเมอร์ ที่พบเห็นอยู่ภายใน List ว่าจะแต่ละสายพันธ์มีจำนวนเท่าใด

In [22]:
lemurs = ['White-headed lemur', 'Gray-headed lemur', 
          'Common brown lemur', 'Collared brown lemur', 
          'Red lemur', 'Collared brown lemur', 'Red-fronted lemur', 
          'Red-bellied lemur', 'Collared brown lemur', 'Crowned lemur', 
          'Red lemur', 'Crowned lemur', 'Blue-eyed black lemur', 
          'Common brown lemur', 'Mongoose lemur', 'Common brown lemur', 
          "Sanford's brown lemur", 'White-headed lemur', 'Black lemur', 
          'Mongoose lemur', 'Red-bellied lemur', 'Red-fronted lemur', 
          'Blue-eyed black lemur', 'Collared brown lemur', 
          'Blue-eyed black lemur', 'White-headed lemur', 'Red lemur', 
          'Red-bellied lemur', 'Gray-headed lemur', 'Red-bellied lemur', 
          'Red lemur', 'Common brown lemur', 'Mongoose lemur', 'Red lemur', 
          'Common brown lemur', "Sanford's brown lemur"]

In [95]:
# คำตอบ
# คำใบ้ ใช้ Dictionnary
import pandas as pd 
import numpy as np
def chooseLemurs(lemur):
    lemur = {}
    for i in lemurs:
        if i in lemur:
            lemur[i] += 1
        else :
            lemur[i] = 1
    return lemur

pd.DataFrame(np.array([i for i in chooseLemurs(lemurs).items()]), columns=['Name', 'Amount'], index=range(1, len(chooseLemurs(lemurs).items())+1))

                     Name Amount
1      White-headed lemur      3
2       Gray-headed lemur      2
3      Common brown lemur      5
4    Collared brown lemur      4
5               Red lemur      5
6       Red-fronted lemur      2
7       Red-bellied lemur      4
8           Crowned lemur      2
9   Blue-eyed black lemur      3
10         Mongoose lemur      3
11  Sanford's brown lemur      2
12            Black lemur      1

<hr>

**ข้อที่ 3** เขียนฟังก์ชันเพื่อแยกชื่อ และนามสกุลออกจากัน พร้อมแสดงทางหน้าจอ

In [40]:
full_names = ['Harry Potter', 
              'Hermione Granger', 
              'Ronald Weasley']

In [45]:
# คำตอบ

def splitName(name:str):
    newName = name.split(' ')
    
    return f'{newName[0]} {newName[1]}'

for i in full_names:
    print(splitName(i))

Harry Potter
Hermione Granger
Ronald Weasley

<hr>

**ข้อที่ 4** จงเขียน Function เพื่อนับจำนวน AT ที่อยู่ในสานอักขระ dna_seq

In [46]:
dna_seq = 'ACGCGCAGATAGGACGCAGGGAGGGAGGAGGTTTTAGAAGAGGATAGACCCA'

In [91]:
# คำตอบ

def fineAT(dna):
    count = 0
    for i in dna:
        if (i == 'A' or i == 'T'):
            count += 1
    return count


fineAT(dna_seq)

23

<hr>